.VideoPlayer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4vw;
  margin-bottom: 80px;
}
.player {
  max-width: var(--container);  
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
