.showcase {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4vw;
  margin-bottom: 80px;
  p {
    font-size: 1.5rem;
  }
}
.container {
  max-width: var(--container);  
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}