:root {
  --font: "Montserrat", sans-serif;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #e2e2e2;
  --hover: aqua;
  --container: 1440px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

body {
  box-sizing: border-box;
  font-family: var(--font);
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: 400;
}
